[submodule "run-1"]
	path = run-1
	url = https://github.com/Veski0/autogenesis-run-1.git
[submodule "run-2"]
	path = run-2
	url = https://github.com/Veski0/autogenesis-run-2.git
[submodule "run-3"]
	path = run-3
	url = https://github.com/Veski0/autogenesis-run-3.git
[submodule "run-4"]
	path = run-4
	url = https://github.com/Veski0/autogenesis-run-4.git
